

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-body 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width:100%;
  height: 80%;
} 
.h1{
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: crimson;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  font-weight:600 ;
  font-size:3vw;
  text-transform: uppercase;
  padding: 0.5em 2em;
  line-height: 1.5;
}
.Heading{
    position: absolute;
    text-align: center;
    top: 20%;
    left:20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 600;
    color:rgb(240, 238, 238);
}
.icon-button{
    position: absolute;
    top:60%;
    left:43%;
    background-color:white;
    color: black;
    padding: 8px 16px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: wavy;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px solid;
}

.icon-button:hover{
    background-color:grey;
    color: whitesmoke;
}



.container{
    background-color: #002157;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.info{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
   
}

ul#img li{
    display:inline;
    margin-left:50px ;
    margin-right: 80px;
    text-align: justify;
}
.container1{
    background-color: #002157;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.title1{
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style:normal;
    color:rgb(8, 7, 7);
    font-weight: bold;
   text-transform: uppercase;
}


  footer {
    text-align: center;
    padding: 3px;
    color: white;
  }



.footer{
    background-color: #24262b;
  padding: 70px 0;      
}


.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}
.grid-item{
    align-items: center;
    text-align: center;
    padding: 20px;
}
